.sidebar {
    width: 30%;
    height: 100vh;
    border-right: 1px solid #ddd;
}

.side_head {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.side_head h1 {
    margin: 0;
    color: rgb(0, 195, 255);
}

.side_head a {
    text-decoration: none;
    color: inherit;
}

.side_head a:hover {
    color: rgb(5, 157, 204);
}

.side_notes {
    height: calc(100vh - 78px);
    overflow-y: scroll;
}

#deleting {
    background-color: crimson;
    color: white;
}

#deleting:hover {
    background-color: rgb(156, 58, 78);
    transition: .5s ease;
}

.side_single_note {
    padding: 15px 10px;
    cursor: pointer;
}

.side_note_title {
    display: flex;
    justify-content: space-between;
}

.side_note_title p {
    margin: 0;
    font-weight: bold;
}

.side_single_note p {
    margin: 0;
}

.side_single_note small {
    display: block;
    color: #999;
}

.side_single_note:hover {
    background: #ddd;
    transition: .5s ease;
}

.side_single_note.active {
    background: #08c;
    color: white;
}

.side_single_note.active small {
    color: white;
}

@media screen and (max-width:1249px) {

    .side_head {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width:786px) {
    .sidebar {
        width: 70%;
    }
}

@media screen and (max-width:584px) {
    .sidebar {
        width: 100%;
        height: 50vh;
        overflow: hidden;
    }
}