.note {
    background: linear-gradient(90deg,
            rgb(186, 209, 226) 0%,
            rgba(17, 122, 255, 1) 100%);
    border-radius: 10px;
    padding: 1rem;
    min-height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: pre-wrap;
}

.note:nth-child(4n + 1) {
    background: linear-gradient(90deg,
            rgb(186, 209, 226) 0%,
            rgba(17, 122, 255, 1) 100%);
}

.note:nth-child(4n + 2) {
    background: linear-gradient(90deg,
            rgb(17, 101, 161) 0%,
            rgba(17, 122, 255, 1) 100%);
}



.note:nth-child(4n + 3) {
    background: linear-gradient(90deg,
            rgb(32, 137, 212) 0%,
            rgba(17, 122, 255, 1) 100%);
}

.note p {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
    transition: .3s ease;
}

.note_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.note:hover {
    background: rgb(1, 48, 109);
    color: white;
    cursor: pointer;
    transition: .8s ease;
}